{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <link rel="stylesheet" type="text/css" href="/static/try.css">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
  <title>Baboon协会</title>
  <link href="https://thumbnail0.baidupcs.com/thumbnail/f20520094v844734b822adab8f3daa86?fid=837566511-250528-781929212076743&rt=pr&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-656Z%2b8JpabC6ygZTesNRvWku%2b9E%3d&expires=8h&chkbd=0&chkv=0&dp-logid=193788501616936365&dp-callid=0&time=1671750000&size=c1999_u1999&quality=100&vuk=837566511&ft=image" rel="icon" type="image/x-ico">

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

</head>
<body>
  
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    <img src="https://thumbnail0.baidupcs.com/thumbnail/f20520094v844734b822adab8f3daa86?fid=837566511-250528-781929212076743&rt=pr&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-656Z%2b8JpabC6ygZTesNRvWku%2b9E%3d&expires=8h&chkbd=0&chkv=0&dp-logid=193788501616936365&dp-callid=0&time=1671750000&size=c1999_u1999&quality=100&vuk=837566511&ft=image" height="45" width="45">

    <a class="navbar-brand" href="{% url 'learning_logs:index'%}">
        Baboon协会</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'learning_logs:topics'%}">
              主题</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="navbar-text"}">欢迎你, {{ user.username }}.</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">退出</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:register' %}">注册</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">登录</a></li>
        {% endif %}
      
      </ul>
      <a href="https://www.pythonanywhere.com/">管理网站</a>
    </div>

  </nav>

  <main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
      {% block page_header %}{% endblock page_header %}
    </div>
    <div>
      {% block content %}{% endblock content %}
    </div>
    
  </main>

</body>

</html>
