{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <link rel="stylesheet" type="text/css" href="/static/try.css">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
  <title>Baboon协会</title>
  <link href="https://imglf4.lf127.net/img/849b290ea4e99b85/RE90NFpEV1NHVzNwQnRlNVhMUXpSS2NINlJ3VzZUVnVZd3dHaE5Ja2haST0.png?imageView&thumbnail=1000x0&type=png" rel="icon" type="image/x-ico">

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

</head>

  
<script>
  var noPrint=true;
  var noCopy=false;
  var noScreenshot=true;
  var autoBlur=false;
</script>
<script type="text/javascript" src="https://pdfanticopy.com/noprint.js"></script>
<body>
  
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    <img src="https://imglf4.lf127.net/img/849b290ea4e99b85/RE90NFpEV1NHVzNwQnRlNVhMUXpSS2NINlJ3VzZUVnVZd3dHaE5Ja2haST0.png?imageView&thumbnail=1000x0&type=png" height="45" width="45">

    <a class="navbar-brand" href="{% url 'learning_logs:index'%}">
        Baboon协会</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'learning_logs:home'%}">
              功能</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="navbar-text"}">欢迎你, {{ user.username }}.</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">退出登录</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:register' %}">注册</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">登录</a></li>
        {% endif %}
    </div>

  </nav>

  <main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
      {% block page_header %}{% endblock page_header %}
    </div>
    <div>
      {% block content %}{% endblock content %}
    </div>
    
  </main>

</body>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312" />

<style type="text/css">
body {
padding: 0;
margin: 0 auto;
}
#footer {
height: 100px;
line-height: 100px;
bottom: 0;
width: 100%;
text-align: center;
background: grey;
color: #fff;
font-family: Arial;
font-size: 12px;
letter-spacing: 1px;
}
.content {
height: 1800px;
width: 100%;
text-align: center;
}
</style>
</head>
<style>
  no{
    font-size: 120px;
  }
</style>
&nbsp;
<no style="text-indent:2em;"> </no>

<body>
<div id="footer">©2021-2023 baboonassociation &nbsp;&nbsp; 联系我们：3437559454@qq.com </div>
</body>
</html>
