{% load bootstrap4 %}

<!doctype html>
<html lang="en">
  <link rel="stylesheet" type="text/css" href="/static/try.css">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,
    shrink-to-fit=no">
  <title>Baboon协会</title>
  <link href="https://imglf4.lf127.net/img/849b290ea4e99b85/RE90NFpEV1NHVzNwQnRlNVhMUXpSS2NINlJ3VzZUVnVZd3dHaE5Ja2haST0.png?imageView&thumbnail=1000x0&type=png" rel="icon" type="image/x-ico">

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

</head>

  
<script>
  var noPrint=true;
  var noCopy=false;
  var noScreenshot=true;
  var autoBlur=false;
</script>
<script type="text/javascript" src="https://pdfanticopy.com/noprint.js"></script>
<body>
  
  <nav class="navbar navbar-expand-md navbar-light bg-light mb-4 border">
    <img src="https://imglf4.lf127.net/img/849b290ea4e99b85/RE90NFpEV1NHVzNwQnRlNVhMUXpSS2NINlJ3VzZUVnVZd3dHaE5Ja2haST0.png?imageView&thumbnail=1000x0&type=png" height="45" width="45">

    <a class="navbar-brand" href="{% url 'learning_logs:index'%}">
        Baboon协会</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'learning_logs:topics'%}">
              主题</a></li>
      </ul>
      <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
          <li class="nav-item">
            <span class="navbar-text"}">欢迎你, {{ user.username }}.</span>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:logout' %}">退出</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'users:register' %}">注册用户</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="users/remove">删除用户</a>
        </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:register' %}">注册</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'users:login' %}">登录</a></li>
        {% endif %}
      
      </ul>
      <a href="https://www.pythonanywhere.com/">管理网站</a>
    </div>

  </nav>

  <main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
      {% block page_header %}{% endblock page_header %}
    </div>
    <div>
      {% block content %}{% endblock content %}
    </div>
    
  </main>

</body>

</html>
