{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}
{% block content %}
{% bootstrap_css %}
<h3><strong><p>网站简介：</p></strong></h3>
<img src="https://imglf3.lf127.net/img/11f16e6475ad838a/RE90NFpEV1NHVzNwQnRlNVhMUXpSS1c2K1NYZWJ4L0szc2Y5N2FEVXgrND0.png?imageView&thumbnail=1680x0&quality=96&stripmeta=0">
<p></p>
<img src="https://imglf4.lf127.net/img/c4045c1e2427119e/RE90NFpEV1NHVzNwQnRlNVhMUXpST2kwL2dQSFdRUXVwVVZTK3RXWGZRRT0.png?imageView&thumbnail=1680x0&quality=96&stripmeta=0">
<p></p>
<a href="/" style="color: gray;">点我返回</a>
{% endblock content %}