{% extends "learning_logs/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">欢迎来到Baboon协会</h1>

    <p class="lead">Welcome to the Baboon baboonassociation</p>
    
    <a class="nav-link" href="{% url 'learning_logs:topics'%}"
        role="button">新建主题 &raquo;</a>
    </div>
    <h3><strong><p style="color:red">喜报！</p></strong></h3>
    <div class="test1">

      <ul>
      
      <img id="pic" src="https://thumbnail0.baidupcs.com/thumbnail/a68e7c255s6732f53069300a3b7b02db?fid=837566511-250528-484134578117237&time=1672030800&rt=sh&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-N91U95ciklmFDY0Lj%2BIYvBYxO9A%3D&expires=8h&chkv=0&chkbd=0&chkpc=&dp-logid=269089721538738296&dp-callid=0&file_type=0&size=c710_u400&quality=100&vuk=-&ft=video" width=800>

      </ul>
      
      </div>
      
      </body>
      
      <script>
      
        var pic=document.getElementById("pic");
        var a="https://thumbnail0.baidupcs.com/thumbnail/a68e7c255s6732f53069300a3b7b02db?fid=837566511-250528-484134578117237&time=1672030800&rt=sh&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-N91U95ciklmFDY0Lj%2BIYvBYxO9A%3D&expires=8h&chkv=0&chkbd=0&chkpc=&dp-logid=269089721538738296&dp-callid=0&file_type=0&size=c710_u400&quality=100&vuk=-&ft=video"
        var b="https://thumbnail0.baidupcs.com/thumbnail/1da0a57fat867ce015b283a6bad9e330?fid=837566511-250528-568397142185160&time=1672030800&rt=sh&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-Z9omJFBBJkkU6KOpPhYV3PxCHHs%3D&expires=8h&chkv=0&chkbd=0&chkpc=&dp-logid=269118120792711210&dp-callid=0&file_type=0&size=c710_u400&quality=100&vuk=-&ft=video"
        var c="https://thumbnail0.baidupcs.com/thumbnail/453fec724r175949f187c9242a535c64?fid=837566511-250528-677013238701521&time=1672034400&rt=sh&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-R4lx87OmpaKLO0l0NIxLFhaaGss%3D&expires=8h&chkv=0&chkbd=0&chkpc=&dp-logid=270179896372391533&dp-callid=0&file_type=0&size=c710_u400&quality=100&vuk=-&ft=video"
        var arr=new Array(a,b,c);
      
        var imgIndex=0;
      
        function pic_Change(){                   /*构造换图函数*/
      
            if(imgIndex==2){
               imgIndex=0;

               }
            else{
               imgIndex++;}
            pic.src=arr[imgIndex];          /*这里把arr[imgIndex]赋给pic中的src来改变原src的值（即原图片）*/
              
            }
      
        var picc=setInterval(pic_Change,3000); /*执行语句*/
      
      </script>
    <!--<img src="https://thumbnail0.baidupcs.com/thumbnail/a68e7c255s6732f53069300a3b7b02db?fid=837566511-250528-484134578117237&rt=pr&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-%2bDldsDAG3kYNQ41YDAvZxCjd1eM%3d&expires=8h&chkbd=0&chkv=0&dp-logid=175939124802204092&dp-callid=0&time=1671685200&size=c1999_u1999&quality=100&vuk=837566511&ft=image" width=800>-->
    <a href="https://pan.baidu.com/s/11QszBbMI3NIvlo1jJzifIA?pwd=1234" id="box">下载结婚照</a>
    {% endblock page_header %}

