{% extends "learning_logs/base.html" %}

{% block page_header %}
  <div class="jumbotron">
    <h1 class="display-3">欢迎来到Baboon协会</h1>

    <p class="lead">Welcome to the Baboon baboonassociation</p>
    <p>😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀</p><p>
      1：室长：kingrandfire  王浩然 — 兼职——税务局局长—兼职名称—王飘飘——小伙伴工厂总经理         😋</p><p>
      2：会长：Jason         王伟杰 — 兼职——颁奖代表———兼职名称—牛二————小伙伴工厂热线电话职员   😛</p><p>
      3：程序员：wangziheng  王梓恒 — 兼职——音像局局长—兼职名称—王大仙——小伙伴工厂普通员工       😝</p><p>
      4：室友：Charlie       李厚辰 — 兼职——武器局局长—兼职名称—小李————小伙伴工厂创始人         😜</p><p>
    😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀😀</p><p>
                        以上为2021级3006寝室—baboon协会重要创始人！</p><p>
                        </p><p>
                              😀😀😀😀99977😀😀😀😀</p><p>
                              </p><p>
                        ！！！请各位新加入协会的成员牢记！！！</p>
    
    <a class="nav-link" href="{% url 'learning_logs:topics'%}"
        role="button">新建主题 &raquo;</a>
    </div>
    <h3><strong><p style="color:red">喜报！</p></strong></h3>
    <img src="https://thumbnail0.baidupcs.com/thumbnail/a68e7c255s6732f53069300a3b7b02db?fid=837566511-250528-484134578117237&rt=pr&sign=FDTAER-DCb740ccc5511e5e8fedcff06b081203-%2bDldsDAG3kYNQ41YDAvZxCjd1eM%3d&expires=8h&chkbd=0&chkv=0&dp-logid=175939124802204092&dp-callid=0&time=1671685200&size=c1999_u1999&quality=100&vuk=837566511&ft=image" width=800>
    <a href="https://pan.baidu.com/s/11QszBbMI3NIvlo1jJzifIA?pwd=1234">下载结婚照</a>
    {% endblock page_header %}

