{% extends "learning_logs/base.html" %}
{% load bootstrap4 %}
{% block content %}
{% bootstrap_css %}
<h3><strong><p style="color:red">喜报！</p></strong></h3>
<h5><p style="color:red">我们结婚了！</p></h5>
<img src="https://imglf6.lf127.net/img/1d635c1c04e3e338/RE90NFpEV1NHVzNwQnRlNVhMUXpSS2dzMWRjWGVNSTN1RnBUR2huOVpJMD0.jpg?imageView&thumbnail=500x0&quality=96&stripmeta=0&type=jpg">
<p></p>
<a href="https://pan.baidu.com/s/11QszBbMI3NIvlo1jJzifIA?pwd=1234" id="box">下载结婚照</a>
<p></p>
<a href="/" style="color: gray;">点我返回</a>
{% endblock content %}